.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.content {
  color: #000000;
  font-size: 22px;
  font-weight: 500;
  margin-left: 10px;
}
.delete-button {
  color: #ff8542;
  background-color: transparent;
  border: 2px solid #ff8542;
  border-radius: 5px;
  padding: 8px;
}
.check-box-title-text-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.text-effects {
  text-decoration: line-through;
}
.edit-btn-del-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.edit-btn {
  color: #ffffff;
  background-color: #ff8542;
  border: none;
  border-radius: 5px;
  padding: 8px;
  margin-right: 20px;
}
.save-btn{
  color: #ffffff;
  background-color: #ff8542;
  border: none;
  border-radius: 5px;
  padding: 8px;
}