.container {
  background-color: #ffc2a0;
  background-size: cover;
  padding: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
}
.box-container {
  background-color: #ffffff;
  width: 90%;
  padding: 100px;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #ff8542;
  font-size: 40px;
}
.list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.title input-add-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.title-input {
  height: 50px;
  width: 250px;
  background-color: transparent;
  outline: none;
  border: 2px solid #ff8542;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  margin-right: 20px;
}
.number-input {
  height: 50px;
  width: 250px;
  background-color: transparent;
  outline: none;
  border: 2px solid #ff8542;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  margin-right: 20px;
}
.add-btn {
  background-color: #ff8542;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
  height: 50px;
  width: 80px;
  font-size: 20px;
}
